.chatsection{
    background-color:var(--background-color);
    color: var(--color);
    flex: 1;
}

.topsection{
    width: 100%;
    height: 75vh;
    /* background-color: rgb(23, 34, 34); */
}

.bottomsection{
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.heading{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2vmax;
}

.heading span:nth-child(1){
    font-size: 4em;
    font-weight: 600;
    background: linear-gradient(to right, rgb(222,19,101),rgb(55, 55, 156),white);
    background-clip: text;
    color: transparent;
}

.heading span:nth-child(2){
    font-size: 2em;
    font-weight: 600;
    background: linear-gradient(to right, rgb(167, 43, 93),rgb(40, 40, 99),white);
    background-clip: text;
    color: transparent;
}

.heading span:nth-child(3){
    font-size: 1em;
    font-weight: 600;
    background: linear-gradient(to right, rgb(167, 43, 93),rgb(40, 40, 99),white);
    background-clip: text;
    color: transparent;
}

.bottomsection input{
    width: 50%;
    height: 60px;
    padding: 20px;
    font-size: 20px;
    border-radius: 50px;
    outline: none;
    border: none;
}

#sendbtn{
    width: 60px;
    height: 60px;
    padding: 10px;
    cursor:  pointer;
    border-radius: 50px;
    border: none;
    background-color:  var(--btn-background-color);
}

#sendbtn:hover{
    background-color: var(--hover-btn-background-color);
}

#sendbtn svg{
    width: 30px;
    height: 30px;
    color: var(--btn-color);
}